# Godot 4+ specific ignores
.godot/
build1.exe
build1.console.exe
3D/
Environments/
Enemies/GenericAssets/
*.TMP
*.exe
*.glb
*.import
*.gltf
*.obj
*.png
*.kra
*.import
*.wav
*.jpg
Release/
Fonts/
Audio/
2DArt/HUDElements/Bars
2DArt/HUDElements/Faces
2DArt/HUDElements
Enemies/TestEnemy/Textures/